.Home {
  min-height: 100%;
  flex: 1;
  .navs {
    height: 0.44rem;
    margin: 0 0.1rem;
    overflow-x: scroll;
    white-space: nowrap;
    .nav {
      display: inline-block;
      color: #494a4a;
      font-size: 0.14rem;
      line-height: 0.44rem;
      margin: 0 0.1rem;
    }
    .nav-active {
      color: #171717;
      font-size: bold;
      font-size: 0.18rem;
      border-bottom: 0.03rem solid #00b175;
    }
  }
  .banner {
    height: 1.3rem;
    .banner-box {
      padding: 0 0.2rem;
      .banner-img {
        height: 1.3rem;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}
