html,
body,
#root {
  @extend .flex-column;
  height: 100%;
}
html {
  font-size: 100px;
  max-width: 500px;
  margin: 0 auto;
}
body {
  font-size: 0.16rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-between-center {
  @extend .flex-row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.weui-tab__bd-item {
  height: 100%;
}
