html,
body,
#root {
  @extend .flex-column;
  height: 100%;
}
html {
  font-size: 100px;
  max-width: 500px;
  margin: 0 auto;
  overflow: -moz-hidden-unscrollable;
}
body {
  -ms-overflow-style: none;
  font-size: 0.16rem;
}
div {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-between-center {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-start-center {
  @extend .flex-row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.weui-tab__bd-item {
  height: 100%;
}
