html {
  font-size: 100px;
  max-width: 500px;
  margin: 0 auto;
}
html,
body,
#root {
  @extend .flex-column;
  height: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.App {
  height: 100%;
  @extend .flex-column;
}
