html,
body,
#root {
  @extend .flex-column;
  height: 100%;
  font-size: 100px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.App {
  height: 100%;
  @extend .flex-column;
}
